<tr>
	<td class="text-center">
		<span class= "glyphicon glyphicon-th-list"></span>
	</td>
	<td>
		<%= truncate(task.description) %>
	</td>
	<td class="text-center">
		<%= link_to '', "#", class: "glyphicon glyphicon-comment" %>
	</td>
	<td class="text-center">
		<%= link_to '', "#", class: "glyphicon glyphicon-pencil" %>
	</td>
	<td class="text-center">
		<%= link_to '', "#", class: "glyphicon glyphicon-trash" %>
	</td>					
</tr>


