<%= render @tasks %>


<tr class="delete_tasks_row">
	<td></td>
	<td></td>
	<td></td>
	<td></td>
	<td class= "text-center delete_tasks_col">
	<a class= "glyphicon glyphicon-trash" id="delete-tasks-button" href="tasks/delete_all?" method="post"></a>
	</td>
</tr>