

<table class="table table-hover table-bordered">
	<thead>
	</thead>
	<tbody id= "tasks">		
		<%= render @tasks %> <%# this will make rails render partial wiht _post.html.erb name and rails will auromatic do the |post| %>
	</tbody>
</table>